* {
  box-sizing: border-box;
}
/* :root {
  --dark-3: #011b33;
  --body-font: Poppins, sans-serif;
  --white: white;
  --heading-font: Airstrike, sans-serif;
  --transparent: transparent;
  --dark: #011b33;
  --sun: 35vw;
  --red3: #f40272;
  --red2: #ff9868;
  --red1: #ff1e8d;
  --white-2: white;
  --dark2: #641b42;
  --btn2: #5ff7ff;
  --red: #e5014f;
  --btn1: #652dff;
  --black-faded: rgba(0, 0, 0, 0.4);
  --gray2: #d8d8d8;
  --black: #000;
  --black-2: black;
  --gray: #7d7d7d;
  --bgimg: #d9d9d9;
  --btn: #644561;
  --vwunit: 0.0520833vw;
} */

/* body {
  margin: 0;
} */
.map_box {
  width: 100%;
  height: 100vh;
}
.map_box .gm-style .gm-style-iw-c {
  background-color: var(--white);
  color: var(--dark);
  padding: 0;
  overflow: visible !important;
  border-radius: 0;
}
.map_box .gm-style-iw-d {
  overflow: auto !important;
}
.map_box .gm-style-iw-ch {
  display: none;
}
.map_box .gm-style-iw-chr button {
  position: absolute !important;
  top: -8px;
  right: -8px;
  background: #1a1a1a !important;
  opacity: 1 !important;
  border-radius: 50%;
  width: 2vw !important;
  height: 2vw !important;
  padding: 0.3vw !important;
  transition: 0.3s ease;
}
.map_box .gm-style-iw-chr button:hover {
  background: #000000 !important;
}
.map_box .gm-style-iw-chr button span {
  margin: 0 !important;
  background-color: var(--white);
  width: 100% !important;
  height: 100% !important;
}
.map_box .gm-style-iw-chr button:hover span {
  background: var(--white) !important;
}
.map_popup {
  padding: 21px 30px;
  max-width: 310px;
  text-align: center;
  width: 100%;
}
.map_title {
  font-size: 26px;
  margin: 0 0 10px;
  color: #000;
  font-family: var(--body-font);
}
p.map_address {
  font-size: 14px;
  font-family: var(--heading-font);
  color: var(--black);
  font-weight: 400;
}
